<ion-view title="Alerts">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/Wc75Fus1QIi13BnPVHj3_digital-security-lock-1940x1455.jpg) no-repeat center;" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="img/ZZBm7TWaTiiNe3heD5MH_13931459-Security-concept-Lock-on-digital-screen-contrast-3d-render-Stock-Photo.jpg">
                <h2>Past Security Alerts</h2>
                <p>Last 100 threats</p>
            </ion-item>
            <ion-item class="item-divider"></ion-item>
            <ion-item>Incident 574E8/3Mar16: Resolved</ion-item>
            <ion-item>Incident B646T/1Feb16: Resolved</ion-item>
            <ion-item>Incident A12JV/13Dec15: Resolved</ion-item>
            <ion-item>...</ion-item>
        </ion-list>
    </ion-content>
</ion-view>