<ion-view title="Camera">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/2BethhAQDCuAGqkkSWdg_trend8_fotolia_51875542_m.jpg) no-repeat center;" class="has-header">
        <div class="list card">
            <div class="item item-divider">Camera1: RAL 9003</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/8Z2AmALT0KgMYwAtvbXw_security-camera_bu4001_camera_0_1.png" width="100%" height="auto">
                </div>
                <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;">
                    <iframe src="https://www.youtube.com/embed/MH6JZdGZcI?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
                </div>
                <form class="list">
                    <ion-checkbox>Enable Camera</ion-checkbox>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>