<ion-view title="Profile">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/9JLDqRjCS5Ks96toFrqX_Security-Study_bg.jpg) no-repeat center;" class="has-header">
        <div>
            <p style="font-family:Georgia; color:white; font-size:44px">
                <u>
                    <br>Greetings!</u>
            </p>
        </div>
        <div>
            <div style="color:white">
                <p>
                    <span style="font-size:16px; font-family:Verdana">
                        <br>Welcome to this community and school security app! Click the below buttons or use the tabs to monitor any threats</span>
                </p>
            </div>
        </div>
        <a ui-sref="tabsController.alerts" id="profile-button1" class="button button-positive  button-block">View Alerts</a>
        <a ui-sref="tabsController.camera" id="profile-button2" class="button button-positive  button-block">See Camera Footage</a>
        <div>
            <div style="color:white">
                <p>
                    <span style="font-size:16px; font-family:Verdana">
                        <br>Want to change notifications settings? Click the button below.</span>
                </p>
            </div>
        </div>
        <a ui-sref="tabsController.settings" id="profile-button3" class="button button-positive  button-block">Change Settings</a>
        <div class="list card">
            <div class="item item-divider">Your Camera</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/mWkalRL8SHOw2ThKXh1D_security-camera_bu4001_camera_0_1.png" width="100%" height="auto">
                </div>
                <div>
                    <p>Type: 1/3’’ CMOS 2MP sensor,130°(diagonal) field of view. Resolution: 720p high definition at 30 fps. Misc: Infrared motion detection Night vision withbuilt-in IR-cut 2-way audio Motorized privacy shutter Optional recording services
                        Optional wall mount FCC/CE certified</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>